

body {
  background-color: #c1cdcd;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-areas: "sidebar content";
  font-family: Caveat, Georgia, 'Times New Roman', Times, serif;
  font-size: 1.1em;
}

nav {
  background-color: #ffefdb;
  grid-area: sidebar;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 40px auto;
  min-height: 100vh;
  font-family: "Grenze Gotisch", Times, serif;
}

nav>header {
  background-color: #8b2323;
  padding: 10px 10px 20px 10px;
  min-height: 1em;
  font-size: 1.6em;
  font-weight: 600;
  color: #ffec8b;
}

nav>ul {
  margin-top: 2.5em;
}

nav>footer {
  background-color: #ab4343;
  height: 4em;
  padding: 0px 10px 10px 10px;
  font-size: 0.8em;
  color: #fff;
  align-self: end;
}

main {
  background-color: #8b7d6b;
  grid-area: content;
  padding: 0 15px;
}

section {
  background-color: #ffefdb;
  margin: 5px 0 20px 0;
  padding: 0.5em;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
  color: #4b3305;
}

section>header {
  background-color: #8b3e2f;
  padding: 5px 10px;
  border-radius: 2px;
  font-family: "Grenze Gotisch";
  font-size: 1.4em;
  font-weight: 600;
  color: #fdd891;
}

strong {
  color: #8b2323;
}

code {
  padding: 3em;
}

@media (max-width: 600px) {
  body {
    font-size: 1em;
    grid-template-columns: 1fr;
    grid-template-areas: "sidebar" "content";
  }
  nav {
    min-height: 0;
  }
}

